Integration Webhooks.blueprint.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 14,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2514040,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "DonationFormWebhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "restaurant",
                        "type": "text"
                    },
                    {
                        "name": "contact",
                        "type": "text"
                    },
                    {
                        "name": "location",
                        "type": "text"
                    },
                    {
                        "name": "foodType",
                        "type": "text"
                    },
                    {
                        "name": "quantity",
                        "type": "text"
                    },
                    {
                        "name": "expiry",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "notes",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5349994
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{now}}",
                    "1": "{{14.restaurant}}",
                    "2": "{{14.contact}}",
                    "3": "{{14.location}}",
                    "4": "{{14.foodType}}",
                    "5": "{{14.quantity}}",
                    "6": "{{14.expiry}}",
                    "7": "Pending",
                    "8": "Not yet Assigned",
                    "10": "{{14.email}}",
                    "11": "{{random}}"
                },
                "sheetId": "DonationRequests",
                "spreadsheetId": "/1P-4JXAUuDC4LTkGwc6FEOCPgRjjHI1XH_QXUvi6rjWE",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "DonationRequests"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Automated food donation system"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Restaurant Name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Contact (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Location (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "FoodType (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Quantity (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Pickup Window (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Status (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "NGOEmail (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "NGOAssigned (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Restaurant Email (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "RequestID (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Timestamp",
                                                "Restaurant Name",
                                                "Contact",
                                                "Location",
                                                "FoodType",
                                                "Quantity",
                                                "Pickup Window",
                                                "Status",
                                                "NGOEmail",
                                                "NGOAssigned",
                                                "Restaurant Email",
                                                "RequestID"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sa0108n@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Restaurant Name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Contact (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Location (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "FoodType (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Quantity (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Pickup Window (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Status (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "NGOEmail (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "NGOAssigned (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Restaurant Email (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "RequestID (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "(AC)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Timestamp",
                                    "Restaurant Name",
                                    "Contact",
                                    "Location",
                                    "FoodType",
                                    "Quantity",
                                    "Pickup Window",
                                    "Status",
                                    "NGOEmail",
                                    "NGOAssigned",
                                    "Restaurant Email",
                                    "RequestID"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5349994
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "C",
                            "b": "{{14.location}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "NGOregistry",
                "sortOrder": "asc",
                "spreadsheetId": "1P-4JXAUuDC4LTkGwc6FEOCPgRjjHI1XH_QXUvi6rjWE",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "NGOregistry"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Automated food donation system"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sa0108n@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "NGO_ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "NGO_Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Area (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Contact Person (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Phone (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Email (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 5350509
            },
            "mapper": {
                "to": [
                    "{{8.`5`}}"
                ],
                "content": "<div style=\"font-family: Inter, Arial, sans-serif; background:#f3f4f6; padding:25px;\">\r\n  <div style=\"max-width:650px; margin:auto; background:white; border-radius:14px;\r\n              box-shadow:0 6px 20px rgba(0,0,0,0.1); overflow:hidden;\">\r\n\r\n    <!-- HEADER -->\r\n    <div style=\"background:linear-gradient(135deg,#14532d,#16a34a);\r\n                padding:20px; color:white; text-align:center;\">\r\n      <h1 style=\"margin:0; font-size:34px; font-weight:700;\">\r\n        SURA\r\n      </h1>\r\n      <p style=\"margin:6px 0 0; font-size:14px; opacity:0.9;\">\r\n        Automated Surplus Food Redistribution Alert\r\n      </p>\r\n    </div>\r\n\r\n    <!-- BODY -->\r\n    <div style=\"padding:22px; color:#111827;\">\r\n      <p style=\"font-size:15px; margin:0 0 12px;\">\r\n        Hello <b style=\"color:#166534;\">{{8.`1`}}</b>,\r\n      </p>\r\n\r\n      <p style=\"font-size:13px; line-height:1.6; color:#374151; margin:0 0 14px;\">\r\n        A new food donation request has been submitted by a restaurant near you.\r\n        Your NGO has been selected as the first responder.\r\n      </p>\r\n\r\n      <!-- DETAILS CARD -->\r\n      <div style=\"margin:18px 0; padding:18px; border-radius:12px;\r\n                  background:#f9fafb; border:1px solid #e5e7eb;\">\r\n        <h2 style=\"margin:0 0 12px; font-size:15px; color:#14532d;\">\r\n           Donation Request Details\r\n        </h2>\r\n\r\n        <table style=\"width:100%; font-size:13px; border-collapse:collapse;\">\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Restaurant</td><td style=\"padding:6px 0; font-weight:600;\">{{14.restaurant}}</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Contact</td><td style=\"padding:6px 0; font-weight:600;\">{{14.contact}}</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Location</td><td style=\"padding:6px 0; font-weight:600;\">{{14.location}}</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Food Type</td><td style=\"padding:6px 0; font-weight:600;\">{{14.foodType}}</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Quantity</td><td style=\"padding:6px 0; font-weight:600;\">{{14.quantity}} meals</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Pickup Window</td><td style=\"padding:6px 0; font-weight:600;\">{{14.expiry}}</td></tr>\r\n          <tr><td style=\"padding:6px 0; color:#6b7280;\"> Notes</td><td style=\"padding:6px 0; font-weight:600;\">{{14.notes}}</td></tr>\r\n        </table>\r\n\r\n        <!-- URGENCY -->\r\n        <div style=\"margin-top:12px; padding:10px;\r\n                    border-radius:10px; background:#fff7ed;\r\n                    border:1px solid #fdba74; color:#9a3412;\r\n                    font-size:12px; font-weight:600;\">\r\n           Quick Response Needed: Food must be collected within the time window.\r\n        </div>\r\n      </div>\r\n\r\n      <!-- ACTION BUTTONS -->\r\n      <h3 style=\"font-size:14px; margin:8px 0; color:#111827;\">\r\n        Please confirm your decision:\r\n      </h3>\r\n\r\n      <!-- BUTTONS -->\r\n      <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\r\n             align=\"center\" style=\"margin:18px auto;\">\r\n        <tr>\r\n          <!-- ACCEPT BUTTON -->\r\n          <td align=\"center\" bgcolor=\"#16a34a\"\r\n              style=\"border-radius:10px; padding:12px 28px;\">\r\n            <a href=\"https://hook.eu1.make.com/1cn5utw1vm9lxkcu8tmp454far2y1gco?decision=accept&requestId= {{5.rowNumber}}\"\r\n               style=\"color:#ffffff;\r\n                      font-family:Arial,sans-serif;\r\n                      font-size:14px;\r\n                      font-weight:700;\r\n                      text-decoration:none;\r\n                      display:block;\">\r\n               Accept Pickup\r\n            </a>\r\n          </td>\r\n\r\n          <td style=\"width:12px;\"></td>\r\n\r\n          <!-- DECLINE BUTTON -->\r\n          <td align=\"center\" bgcolor=\"#dc2626\"\r\n              style=\"border-radius:10px; padding:12px 28px;\">\r\n            <a href=\"https://hook.eu1.make.com/1cn5utw1vm9lxkcu8tmp454far2y1gco?decision=decline&requestId= {{5.rowNumber}}\"\r\n               style=\"color:#ffffff;\r\n                      font-family:Arial,sans-serif;\r\n                      font-size:14px;\r\n                      font-weight:700;\r\n                      text-decoration:none;\r\n                      display:block;\">\r\n               Decline Request\r\n            </a>\r\n          </td>\r\n        </tr>\r\n      </table>\r\n\r\n      <!-- FOOTNOTE -->\r\n      <p style=\"font-size:12px; color:#6b7280; line-height:1.5; margin:0 0 12px;\">\r\n        If no response is received within the deadline,\r\n        the request will automatically be forwarded to the next available NGO.\r\n      </p>\r\n\r\n      <p style=\"margin-top:18px; font-size:13px;\">\r\n        Regards,<br>\r\n        <b style=\"color:#14532d;\">SURA</b> \r\n      </p>\r\n    </div>\r\n\r\n    <!-- FOOTER -->\r\n    <div style=\"background:#111827; padding:12px; text-align:center;\r\n                font-size:11px; color:#d1d5db;\">\r\n       2026 SURA Connect  Automation for Social Good\r\n      <br>\r\n      Built for reducing food waste & improving NGO coordination\r\n    </div>\r\n  </div>\r\n</div>",
                "subject": "New Food Donation Request Assigned",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (sa0108n@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5349994
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{now}}",
                    "7": "Waiting for Response",
                    "8": "{{8.`5`}}",
                    "9": "{{8.`1`}}",
                    "10": "{{14.email}}"
                },
                "sheetId": "DonationRequests",
                "rowNumber": "{{5.rowNumber}}",
                "spreadsheetId": "/1P-4JXAUuDC4LTkGwc6FEOCPgRjjHI1XH_QXUvi6rjWE",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "DonationRequests"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Automated food donation system"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Restaurant Name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Contact (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Location (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "FoodType (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Quantity (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Pickup Window (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Status (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "NGOEmail (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "NGOAssigned (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Restaurant Email (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "RequestID (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Timestamp",
                                                "Restaurant Name",
                                                "Contact",
                                                "Location",
                                                "FoodType",
                                                "Quantity",
                                                "Pickup Window",
                                                "Status",
                                                "NGOEmail",
                                                "NGOAssigned",
                                                "Restaurant Email",
                                                "RequestID"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sa0108n@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Restaurant Name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Contact (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Location (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "FoodType (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Quantity (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Pickup Window (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Status (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "NGOEmail (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "NGOAssigned (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Restaurant Email (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "RequestID (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "(AC)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Timestamp",
                                    "Restaurant Name",
                                    "Contact",
                                    "Location",
                                    "FoodType",
                                    "Quantity",
                                    "Pickup Window",
                                    "Status",
                                    "NGOEmail",
                                    "NGOAssigned",
                                    "Restaurant Email",
                                    "RequestID"
                                ]
                            ]
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}